var settings = {
    staffSrc:
        'staff-directory.json',
    photosPath: 'photos/',
    editor: {
        email: 'edit-my-entry@victoria.ca',
        url: 'http:/localhost:9080/edit/edit.html',
        save: {
            contact: 'service/for/.saving/ontact/details',
            photo: 'service/for/saving/staff/photos'
        }
    }
};
